@model System.Collections.Generic.IEnumerable<RealtyWebApp.DTOs.PropertyDto>

@{
    ViewBag.Title = "Dashboard";
    Layout = "_AdminLayout";

}
<div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
        Unverified Properties
    </h1>
</div>
<div class="card has-table">
    <div class="card-content">
        <table>
            <thead>
            <tr>
                <th>Property Id</th>
                <th>Property Type</th>
                <th>Feature</th>
                <th>Address</th>
                <th>State</th>
                <th>Price</th>
                <th>Registered Date</th>
                <th>Status</th>
                <th>Edit Info</th>
            </tr>
            </thead>
            <tbody>
            @if (Model != null)
            {
                @foreach (var pro in Model)
                {
                    <tr>
                        <td data-label="Property Id">@pro.PropertyRegNumber</td>
                         <td data-label="Property Type">@pro.PropertyType</td>
                         <td data-label="Features">@pro.Features</td>
                         <td data-label="Address">@pro.Address</td>
                         <td data-label="State">@pro.LGA, @pro.State</td>
                         <td data-label="Price">@pro.PropertyPrice.ToString("N")</td>
                         <td datat-label="Price">@pro.RegisteredDate</td>
                         <td data-label="Status">@pro.Status</td>
                        <td class="actions-cell">
                            
                            <div class="buttons right nowrap">
                                <a class="button small green --jb-modal" type="button" asp-controller="Admin" asp-action="ViewProperty" asp-route-Id="@pro.Id">
                                    <span class="icon"><i class="mdi mdi-eye"></i></span>
                                </a>
                                 <a class="button small green --jb-modal" type="button" asp-controller="Admin" asp-action="VerifyProperty" asp-route-Id="@pro.Id">
                                    @*<span class="icon"><i class="mdi mdi-eye"></i>Verify</span>*@ Verify
                                </a>
                            </div>
                            <div class="buttons right nowrap">
                               
                            </div>
                        </td>
                    </tr>
                }
            }

            </tbody>
        </table>
        @if(!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span style="color: green; justify-content: center">@ViewBag.Message</span>
        }
    </div>
</div>
