@model System.Collections.Generic.IEnumerable<RealtyWebApp.DTOs.PropertyDto>

@{
    ViewBag.Title = "DashBoard";
    Layout = "_BuyerLayout";
}

<div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    @if (!string.IsNullOrEmpty(@ViewBag.Name))
    {
        <h1 class="title">Hi @ViewBag.Name</h1>
        <h1 class="title">Date: @DateTime.Now.ToString("f")</h1>
    }
</div>
<div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
        Unverified Properties
    </h1>
</div>
<div class="card has-table">
    <div class="card-content">
        <table>
            <thead>
            <tr>
                <th>Property Ref No</th>
                <th>Property Type</th>
                <th>Address</th>
                <th>Price</th>
                <th>Payment Date</th>
                <th>Payment Ref No</th>
            </tr>
            </thead>
            <tbody>
            @if (Model != null)
            {
                @foreach (var pro in Model)
                {
                    <tr>
                        <td data-label="Property Id">@pro.PropertyRegNumber</td>
                         <td data-label="Property Type">@pro.PropertyType</td>
                         <td data-label="Address">@pro.Address</td>
                         <td data-label="Price">#@pro.PropertyPrice.ToString("N")</td>
                         <td datat-label="Price">@pro.SoldDate</td>
                         <td data-label="Status">@pro.PaymentReference</td>
                    </tr>
                }
            }

            </tbody>
        </table>
        @if(!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span style="color: green; justify-content: center">@ViewBag.Message</span>
        }
    </div>
</div>
