@model System.Collections.Generic.IEnumerable<RealtyWebApp.DTOs.PropertyDto>

@{
    ViewBag.Title = "DashBoard";
    Layout = "_RealtorLayout";
}
<div class="card-content">
<table>
    <thead>
    <tr>
        <th>Property Id</th>
        <th>Property Type</th>
        <th>Feature</th>
        <th>Address</th>
        <th>State</th>
        <th>Price</th>
        <th>Registered Date</th>
        <th>Status</th>
        <th>More Info</th>
    </tr>
    </thead>
    <tbody>
    @if(Model!=null)
    {
        @foreach (var pro in Model)
        {
            <tr>
                <td>@pro.PropertyRegNumber</td>
                <td>@pro.PropertyType</td>
                <td>@pro.Features</td>
                <td>@pro.Address</td>
                <td>@pro.LGA, @pro.State</td>
                <td>@pro.PropertyPrice</td>
                <td>@pro.RegisteredDate</td>
                <td>@pro.Status</td>
                <td class="actions-cell">
                    <div  class="buttons right nowrap">
                        <a class="button small green --jb-modal" type="button" asp-controller="Realtor" asp-action="" asp-route-Id="@pro.Id">
                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                        </a>
                    </div>
                </td>
                
                
            </tr>
        }

    }
    
    </tbody>
</table>
</div>