@model System.Collections.Generic.IEnumerable<RealtyWebApp.DTOs.PropertyDto>

@{
    ViewBag.Title = "Unapproved Properties";
    Layout = "_RealtorLayout";
}

<div class="card has-table">
<div class="card-content">
    <table>
        <thead>
        <tr>
            <th>Property RefNo</th>
            <th>Property Type</th>
            <th>Feature</th>
            <th>Address</th>
            <th>State</th>
            <th>Price</th>
            <th>Registered Date</th>
            <th>Status</th>
            <th>Edit Info</th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            @foreach (var pro in Model)
            {
                <tr>
                    <td data-label ="Property RefNo" >@pro.PropertyRegNo</td>
                    <td data-label ="Property Type">@pro.PropertyType</td>
                    <td data-label ="Description">@pro.Features</td>
                    <td data-label ="Address">@pro.Address</td>
                    <td data-label ="State">@pro.LGA, @pro.State</td>
                    <td data-label ="Print">@pro.PropertyPrice.ToString("N")</td>
                    <td data-label ="Registered Date">@pro.RegisteredDate</td>
                    <td data-label ="Status">@pro.Status</td>
                    <td class="actions-cell">
                        <div class="buttons right nowrap">
                            <a class="button small green --jb-modal" type="button" asp-controller="Realtor" asp-action="EditProperties" asp-route-Id="@pro.Id">
                                <span class="icon"><i class="mdi mdi-eye"></i>Edit</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }

        </tbody>
    </table>
    @if(!string.IsNullOrEmpty(ViewBag.Message))
    {
        <span style="color: green; justify-content: center">@ViewBag.Message</span>
    }
</div>
</div>