@model IEnumerable<RealtyWebApp.DTOs.PropertyDto>
@{
    ViewData["Title"] = "Home Page";
}

    <section  class="ftco-section goto-here">
      <div class="container">
	      <div class="row justify-content-center">
		      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
			      <span class="subheading">What we offer</span>
			      <h2 class="mb-2">Featured Properties</h2>
		      </div>
	      </div>
	      <div class="row">
		   @foreach (var property in Model)
		   {
			   <div class="col-md-4">

				   <div class="property-wrap ftco-animate">
					   <a asp-route-Id="@property.Id" asp-action="Property" asp-controller="Home" class="img" style="background-image: url('/PropertyImages/@property.ImagePath[0]');">
						   <div class="rent-sale">
							   <span class="rent">Sale</span>
						   </div>
						   <p class="price"><span class="orig-price">#@property.PropertyPrice.ToString("N"),</span></p>
					   </a>
					   <div class="text">
						   <ul class="property_list">
							   <h3>@property.Features</h3>
							   <li><span class="flaticon-bed"></span>Bedroom:@property.Bedroom</li>
							   <li><span class="flaticon-bathtub"></span>Toilet:@property.Toilet</li>
							   <li><span class="flaticon-floor-plan"></span>Plot area:@property.LandArea</li>
						   </ul>
						   <span>@property.Address</span>
						   <span class="location">@property.LGA, @property.State</span>
						   <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
							   <span class="fa fa-link"></span>
						   </a>
						   <div class="list-team d-flex align-items-center mt-2 pt-2 border-top">
							   <div class="d-flex align-items-center">
								   <div class="img" style="background-image: url('images/work-1.jpg');"></div>
								   <h3 class="ml-2">Registration No:@property.PropertyRegNumber</h3>
							   </div>
							   <span class="text-right">Property:@property.PropertyType</span>
						   </div>
					   </div>
					      
				   </div>
			   </div>
			     
		   }
	   </div>
	   
	 </div>
    </section>